body {
  margin: 0;
  background-color: rgb(254, 250, 231);
  height: auto;
}
.mobile {
  display: none;
}

/* Navbar */

nav {
  width: 100%;
  height: 80px;
  background: url("../sources/navbar.png");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav_logo {
  width: 153px;
  height: 63px;
}

#nav_link_carrier {
  width: 43%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_links {
  font-family: "Noto Serif TC", serif;
  font-size: 1.5em;
  font-weight: 600;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: 0.25s;
}

.nav_links:hover {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  transform: translateY(-0.1em);
}

#nav_link_carrier .door {
  font-size: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#nav_user_bag {
  width: 9%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav_user_bag ion-icon {
  color: black;
  font-size: 2em;
}

/* Navbar ends */

/* footer */

footer {
  background-color: rgb(1, 33, 64);
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

#footer_links {
  width: 16%;
}

#social_links {
  width: 60%;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: space-around;
}

#social_links ion-icon {
  color: white;
  font-size: 1.5em;
}

#term_contact_links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px auto 5px auto;
}

.footer_link {
  text-decoration: none;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 200;
  font-size: 0.8em;
}

.footer_text {
  color: white;
  font-size: 0.5em;
  text-align: center;
}

/*footer ends*/

.banner {
  width: 100%;
  height: 120px;
  background-image: url(../sources/1939_Taipei_Plan.jpg);
  background-color: rgba(0, 0, 0, 0.8);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.page_name {
  font-size: 42px;
  font-weight: 700;
  color: aliceblue;
  font-family: "Noto Serif TC", serif;
}

svg {
  width: 500px;
  height: auto;
}

#Taipei:hover {
  transition: 0.6s;
  fill: brown;
  cursor: pointer;
}

.city_active {
  fill: brown;
}

.guide {
  transition: 0.5s;
  opacity: 1;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 24px;
}

.guide_inactive {
  opacity: 0;
}

.brand_map {
  width: 1000px;
  display: flex;
  margin: 0 auto;
}

.info_block {
  width: 600px;
  position: relative;
  display: flex;
  align-items: center;
}

.city_block {
  width: 450px;
  height: 400px;
  position: absolute;
  bottom: 100%;
  opacity: 0;
  transition: 0.5s;
}

.show_hover {
  top: 20%;
  opacity: 1;
}

.city_name {
  width: 100%;
  height: 100px;
  border: 1px solid blue;
  background-image: url(../sources/BM_background.png);
  background-size: cover;
  font-size: 68px;
  font-family: "Noto Serif TC", serif;
  font-weight: 700;
  color: white;
}

.city_name p {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}

.city_brands {
  height: 0px;
  background-color: rgb(255, 245, 196);
  box-shadow: 7px 10px 11px 3px rgba(155, 103, 60, 0.81);
  transition: 0.4s;
}

.brands_extend {
  height: 400px;
}

.brand {
  opacity: 0;
  transition: 1.5s;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 30px;
  margin-left: 20px;
  cursor: pointer;
}
.brand_show {
  opacity: 1;
}

@media (max-width: 480px) and (min-width: 320px) {
  #nav_logo,
  #nav_link_carrier,
  #nav_user_bag,
  #footer_links,
  .footer_address,
  .brand_map {
    display: none;
  }

  .mobile{
    display: initial;
  }

  /*media navbar*/

  nav {
    display: block;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .nav_backboard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  #mobile_nav_logo {
    transform: scale(0.7);
    margin-left: 30px;
  }

  #nav_burger {
    transform: scale(0.75);
    margin-right: 10px;
  }

  .nav_popper {
    display: initial;
    background-color: rgb(1, 24, 47);
    color: aliceblue;
    opacity: 0;
    height: calc(100vh - 70px);
    width: 100vw;
    position: fixed;
    transition: 0.3s ease-in;
    transform: translateX(100vh);
    z-index: 3;
  }

  .pop_active {
    opacity: 1;
    transform: translateX(0);
  }

  .nav_pop_backboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
  }

  .nav_pop_doors {
    border-top: 0.2px solid rgba(250, 250, 250, 0.3);
    width: 75%;
    margin: 0 auto;
  }

  .nav_pop_link_carrier {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .nav_pop_link {
    text-decoration: none;
    color: white;
    font-family: "Noto Serif TC", serif;
    font-weight: 600;
    font-size: 42px;
    margin-left: 35px;
  }

  .nav_store_cats {
    margin-top: 10px;
    margin-left: 40px;
  }

  .nav_store_cats p {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
    color: rgba(250, 250, 250, 0.5);
  }

  .cat_doors {
    display: inline-block;
  }

  .nav_cat {
    text-decoration: none;
    color: white;
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 18px;
  }

  .nav_pop_social_block {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_pop_social_carrier {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  .nav_social_icons {
    font-size: 2.5em;
    margin: 0 auto;
  }

  .social_hint {
    font-size: 1.3em;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .inline_logo_nav {
    display: inline-block;
    transform: scale(0.35);
  }

  .mobile_user_bag {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile_user_bag ion-icon {
    font-size: 1.75em;
    color: black;
  }

  .mobile_nav_left {
    display: flex;
    width: 40%;
    justify-content: space-between;
  }
  /*mobile nav ends*/

  /*mobile footer */
  footer {
    height: 300px;
  }

  .footer_content {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer_text {
    color: rgba(250, 250, 250, 0.6);
    font-size: 10px;
    text-align: center;
  }

  .mobile_contact_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
    height: 85%;
  }

  .mobile_address {
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 200;
    font-size: 0.8em;
  }
  /*web footer ends*/

  .m_bmap{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eswn{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .picker{
    width: 60%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
  }

  .choose{
    font-family: "Noto Serif TC", serif;
    font-size: 22px;
    font-weight: 700;
  }

  .choose_active{
    color: brown;
  }

  .north svg{
    width: 90%;
    height: auto;
  }

  .center svg{
    width: 85%;
    height: auto;
  }

  .south svg{
    width: 80%;
    height: auto;
  }

  .east svg{
    width: 78%;
    height: auto;
  }

  .m_parts{
    display: none;
  }

  .m_part_active{
    display: initial;
  }
  
  .m_taipei_brands{
    display: none;
    opacity: 0;
    width: 75%;
    position: absolute;
    background-color:rgb(254, 250, 205);
    transition: 0.3s;
  }

  .m_show_1{
    display: initial;
  }

  .m_show_2{
    opacity: 1;
  }

  .m_city_name{
    width: 100%;
    height: 63px;
    background-image: url('../sources/BM_background.png');
    background-size: cover;
  }

  .m_city_name p{
    font-family: "Noto Serif TC", serif;
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: white;
  }

  .m_city_brands p {
    font-family: "Noto Sans TC", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 18px;
  }
}
