body {
  margin: 0;
  background-color: rgb(254, 250, 231);
}

.mobile {
  display: none;
}

/* Navbar */

nav {
  width: 100%;
  height: 80px;
  background: url("../sources/navbar.png");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nav_logo {
  width: 153px;
  height: 63px;
}

#nav_link_carrier {
  width: 43%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_links {
  font-family: "Noto Serif TC", serif;
  font-size: 1.5em;
  font-weight: 600;
  color: black;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: 0.25s;
}

.nav_links:hover {
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
  transform: translateY(-0.1em);
}

#nav_link_carrier .door {
  font-size: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#nav_user_bag {
  width: 9%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav_user_bag ion-icon {
  color: black;
  font-size: 2em;
}

/* Navbar ends */

/* footer */

footer {
  background-color: rgb(1, 33, 64);
  width: 100%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
}

#footer_links {
  width: 16%;
}

#social_links {
  width: 60%;
  margin: 0 auto 10px auto;
  display: flex;
  justify-content: space-around;
}

#social_links ion-icon {
  color: white;
  font-size: 1.5em;
}

#term_contact_links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px auto 5px auto;
}

.footer_link {
  text-decoration: none;
  color: white;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 200;
  font-size: 0.8em;
}

.footer_text {
  color: white;
  font-size: 0.5em;
  text-align: center;
}

/*footer ends*/

.page_intro {
  width: 100%;
  height: 240px;
  border: 1px solid green;
  background-image: url("../sources/story_background.jpg");
  background-size: contain;
  color: white;
  font-family: "Noto Serif TC", serif;
}

.page_name {
  font-weight: bold;
  font-size: 43px;
  width: 800px;
  margin: 33px auto 13px auto;
}

.page_discription {
  font-size: 20px;
  font-weight: 500;
  color: rgb(215, 215, 215);
  width: 550px;
  text-align: center;
  margin: 8px auto;
}

.new_to_old {
  font-weight: 700;
  font-size: 19px;
}

.old_to_new {
  font-weight: 700;
  font-size: 19px;
}

.sort_active {
  color: rgb(0, 59, 115);
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: center;
}

.story_carrier {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
.story_block {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  font-family: "Noto Serif TC", serif;
  margin: 20px auto;
}

.story_cover {
  width: 400px;
  height: 280px;
}

.story_block_text {
  width: 570px;
}

.title_main {
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 2px;
}
.title_sub {
  font-weight: 700;
  font-size: 25px;
  margin-top: 5px;
  color: rgb(153, 1, 1);
}
.story_discription {
  font-weight: 400;
  font-size: 17px;
  width: 500px;
  margin-left: 10px;
}

.story_page {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.page_changer_wrapper {
  text-align: center;
  margin: 80px auto;
}

.page_changer {
  margin: 0 auto;
  padding: 0;
}

.page_changer li {
  display: inline-block;
  margin: auto 15px;
}

.pages {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
}

.active_page {
  text-decoration: underline;
  color: rgb(0, 59, 115);
}

.prev,
.next {
  font-size: 25px;
  font-weight: 600;
}

.disabled {
  color: rgb(135, 135, 135);
}

.s_bar {
  display: flex;
  width: 1100px;
  border-bottom: 3px solid black;
  margin: 20px auto 40px auto;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

.sorter,
.sort {
  display: flex;
}

.sorter {
  font-family: "Noto Serif TC", serif;
  font-size: 18px;
  font-weight: 500;
}

.sort {
  width: 150px;
  justify-content: space-between;
}

.active {
  color: navy;
  text-decoration: underline;
  font-weight: 700;
}

.search_icon {
  width: 18px;
  height: 18px;
}

.gotop {
  display: block;
  width: 60px;
  height: 70px;
  background-color: rgb(0, 59, 115);
  text-align: center;
  color: white;
  font-size: 40px;
  position: fixed;
  bottom: 40px;
  right: 50px;
}

@media (max-width: 480px) {
  #nav_logo,
  #nav_link_carrier,
  #nav_user_bag,
  #footer_links,
  .footer_address,
  .page_discription,
  .gotop,
  .sorter {
    display: none;
  }

  /*media navbar*/

  nav {
    display: block;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .nav_backboard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #mobile_nav_logo {
    width: 14.5px;
    height: 49px;
    margin-left: 30px;
  }

  #nav_burger {
    transform: scale(0.75);
    margin-right: 10px;
  }

  .nav_popper {
    display: initial;
    background-color: rgb(1, 24, 47);
    color: aliceblue;
    opacity: 0;
    height: calc(100vh - 70px);
    width: 100vw;
    position: fixed;
    transition: 0.3s ease-in;
    transform: translateX(100vh);
    z-index: 3;
  }

  .pop_active {
    opacity: 1;
    transform: translateX(0);
  }

  .nav_pop_backboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
  }

  .nav_pop_doors {
    border-top: 0.2px solid rgba(250, 250, 250, 0.3);
    width: 75%;
    margin: 0 auto;
  }

  .nav_pop_link_carrier {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
  }

  .nav_pop_link {
    text-decoration: none;
    color: white;
    font-family: "Noto Serif TC", serif;
    font-weight: 600;
    font-size: 42px;
    margin-left: 35px;
  }

  .nav_store_cats {
    margin-top: 10px;
    margin-left: 40px;
  }

  .nav_store_cats p {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 25px;
    color: rgba(250, 250, 250, 0.5);
  }

  .cat_doors {
    display: inline-block;
  }

  .nav_cat {
    text-decoration: none;
    color: white;
    font-family: "Noto Serif TC", serif;
    font-weight: 300;
    font-size: 18px;
  }

  .nav_pop_social_block {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav_pop_social_carrier {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  .nav_social_icons {
    font-size: 2.5em;
    margin: 0 auto;
  }

  .social_hint {
    font-size: 1.3em;
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  .inline_logo_nav {
    display: inline-block;
    transform: scale(0.35);
  }

  .mobile_user_bag {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile_user_bag ion-icon {
    font-size: 1.75em;
    color: black;
  }

  .mobile_nav_left {
    display: flex;
    width: 40%;
    justify-content: space-between;
  }
  /*mobile nav ends*/

  /*mobile footer */
  footer {
    height: 300px;
  }

  .footer_content {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer_text {
    color: rgba(250, 250, 250, 0.6);
    font-size: 10px;
    text-align: center;
  }

  .mobile_contact_links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;
    height: 85%;
  }

  .mobile_address {
    color: white;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 200;
    font-size: 0.8em;
  }
  /*web footer ends*/

  .page_intro {
    width: 100vw;
    background-size: cover;
    border: none;
    height: 90px;
    padding-top: 10px;
    vertical-align: middle;
  }

  .page_name {
    margin-top: 5px;
    font-size: 40px;
    margin-left: 15px;
    width: 90vw;
  }

  .story_carrier {
    width: 100vw;
    align-items: center;
  }

  .story_block {
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: 15px auto;
  }

  .story_cover_carrier {
    width: 90%;
    height: 170px;
    overflow: hidden;
  }

  .story_cover {
    width: 100%;
    height: auto;
  }

  .story_block_text {
    width: 90%;
  }

  .title_main {
    margin-top: 18px;
    font-size: 22px;
  }

  .title_sub {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .story_discription {
    width: 90%;
    font-size: 16px;
  }

  .story_discription p {
    margin-top: 5px;
  }

  .page_changer li {
    font-size: 22px;
    margin: auto 6px;
  }

  .s_bar {
    width: 85vw;
    margin: 25px auto 16px auto;
    padding-bottom: 15px;
    flex-direction: column;
  }
}
